.tollbar{
    box-shadow: 0px 8px 15px -1px rgba(0,0,0,0.41);
    -webkit-box-shadow: 0px 8px 15px -1px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 8px 15px -1px rgba(0,0,0,0.41);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menuHeader{
    a{
        margin: 15px;
        text-decoration: none;
        color: black;
        transition: .2s;
        padding: 7px;

        &:hover{
            background: #0058ff;
            border-radius: 20px;
            color: white;
        }
    }
}